body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-align: center;
}
nav {
  font-size: 1.2rem;
  background-color: lightgray;
  padding: 1rem;
}
a {
  padding: 0.5rem;
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
